/* Sidebar styles */
#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    transition: all 0.3s ease; /* Smooth transition for toggle */
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px; /* Hide the sidebar */
}

/* Page content shifts to the left when sidebar is hidden */
#wrapper.toggled #page-content-wrapper {
    margin-left: 0;
}


/* Adjust spacing between menu items */
.list-group-item {
    border: none;
    padding: 15px 20px; /* Adjust padding for more spacing */
    margin-bottom: 10px; /* Increase margin for more spacing */
    font-size: 1.1rem; /* Slightly increase font size for better visibility */
}

.list-group-item:hover {
    background-color: #8B0000;
    cursor: pointer;
}


/* Page Content styles */
#page-content-wrapper {
    flex-grow: 1;
    background-color: #f8f9fa;
    padding: 20px;
    margin-left: 250px; /* Adjust for fixed sidebar */
}


.dashboard-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #8B0000; 
}

/* Container for title and buttons */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add spacing */
}

/* Add border to buttons */
.btn-custom {
    background-color: #991B1F;
    color: white;
    border: 2px solid #8B0000; /* Add a border */
    border-radius: 5px; /* Optional: add rounded corners */
    padding: 10px 20px; /* Adjust padding for better look */
    box-shadow: none; /* Remove default button shadow */
    display: inline-block; /* Ensure block display */
}

.btn-custom:hover {
    background-color: white; /* Change background on hover */
    color: #991B1F; /* Change text color on hover */
    border-color: #991B1F; /* Change border color on hover */
}

/* Remove focus outline to prevent browser default styles from overriding */
.btn-custom:focus {
    outline: none;
    box-shadow: none;
}

/* Info block styling */
.info-block {
    background-color: #991B1F;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    min-height: 120px;
}

/* Custom divider */
.custom-line {
    border-color: #991B1F;
}

/* Center button */
.center-button {
    text-align: center;
    margin-top: 20px;
}
/* Adding borders to the Lucro and Despesas dashboards */
.chart-container {
    border: 2px solid #8B0000;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px; 
}

.central-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #8B0000; 
}